{{> header }}

  {{#each results}}
    <div class="container card">
        <form method="POST" action="/">
          <ul class="list-group list-group-flush" style="margin: 10px">
            <li class="list-group-item active"><b>{{this.name}}</b></li>
            <li class="list-group-item">{{this.geared}} cycle - Rs. {{this.rent_rate}} per hour.</li>
            <li class="list-group-item">Available from <span style="color: red">{{this.start_time}}</span> to <span style="color: red">{{this.end_time}}</span></li>
            <li class="list-group-item">email: {{this.email}}</li>
            <li class="list-group-item">phone: {{this.phone_number}}</li>
            <li class="list-group-item"><button type="submit" class="btn btn-primary" value={{this.username}} name="rentThis">Rent This</button></li>
            {{!-- hack to get rent_rate value --}}
            <input type="text" value={{this.rent_rate}} name="rentRate" style="display: none">
          </ul>
          
        </form>
    </div>
  {{/each}}

{{> footer-end }}