{{> header }}

    <div class="container">
      <div class="card">
        <h5 class="card-header">{{Owner}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{geared}} cycle - Rs. {{cost}} per hour.</h5>
          <p class="card-text">Available from {{start-time}} to {{end-time}}.</p>
          <a href="#" class="btn btn-primary">Rent This</a>
        </div>
      </div>
    </div>

{{> footer-end }}